<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ESTUDIANCK_488710" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ESTUDIANCK_488710.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_ESTUDIANAK_742--> 
  <div id="VC_ESTUDIANCK_488710" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_ESTUDIATAK_161742" ng-show="vc.viewState.G_ESTUDIATAK_161742.visible" ng-class="vc.viewState.G_ESTUDIATAK_161742.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ESTUDIATAK_161742" k-options="validatorOptions" id="G_ESTUDIATAK_161742_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_NOMBREOQNOZJJAU_603742.visible"> 
        <div class="form-group" id="VA_NOMBREOQNOZJJAU_603742_DIV"> 
         <label for="VA_NOMBREOQNOZJJAU_603742" title="{{vc.viewState.VA_NOMBREOQNOZJJAU_603742.label|translate:vc.viewState.VA_NOMBREOQNOZJJAU_603742.labelArgs}}" ng-show="vc.viewState.VA_NOMBREOQNOZJJAU_603742.visible" class="control-label">{{vc.viewState.VA_NOMBREOQNOZJJAU_603742.label|translate:vc.viewState.VA_NOMBREOQNOZJJAU_603742.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NOMBREOQNOZJJAU_603742" name="Estudiante_nombre" type="text" class="form-control" ng-model="vc.model.Estudiante.nombre" ng-disabled="vc.viewState.VA_NOMBREOQNOZJJAU_603742.disabled || vc.viewState.VA_NOMBREOQNOZJJAU_603742.disabledingroup" ng-show="vc.viewState.VA_NOMBREOQNOZJJAU_603742.visible" ng-readonly="vc.viewState.VA_NOMBREOQNOZJJAU_603742.readonly" ng-class="vc.viewState.VA_NOMBREOQNOZJJAU_603742.style" data-cobis-group="Group,G_ESTUDIATAK_161742,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NOMBREOQNOZJJAU_603742.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_APELLIDOHIMIBUF_342742.visible"> 
        <div class="form-group" id="VA_APELLIDOHIMIBUF_342742_DIV"> 
         <label for="VA_APELLIDOHIMIBUF_342742" title="{{vc.viewState.VA_APELLIDOHIMIBUF_342742.label|translate:vc.viewState.VA_APELLIDOHIMIBUF_342742.labelArgs}}" ng-show="vc.viewState.VA_APELLIDOHIMIBUF_342742.visible" class="control-label">{{vc.viewState.VA_APELLIDOHIMIBUF_342742.label|translate:vc.viewState.VA_APELLIDOHIMIBUF_342742.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_APELLIDOHIMIBUF_342742" name="Estudiante_apellido" type="text" class="form-control" ng-model="vc.model.Estudiante.apellido" ng-disabled="vc.viewState.VA_APELLIDOHIMIBUF_342742.disabled || vc.viewState.VA_APELLIDOHIMIBUF_342742.disabledingroup" ng-show="vc.viewState.VA_APELLIDOHIMIBUF_342742.visible" ng-readonly="vc.viewState.VA_APELLIDOHIMIBUF_342742.readonly" ng-class="vc.viewState.VA_APELLIDOHIMIBUF_342742.style" data-cobis-group="Group,G_ESTUDIATAK_161742,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_APELLIDOHIMIBUF_342742.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.visible"> 
        <div class="form-group" id="VA_SEXOWZTHMWWCSNO_600742_DIV"> 
         <label for="VA_SEXOWZTHMWWCSNO_600742" title="{{vc.viewState.VA_SEXOWZTHMWWCSNO_600742.label|translate:vc.viewState.VA_SEXOWZTHMWWCSNO_600742.labelArgs}}" ng-show="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.visible" class="control-label">{{vc.viewState.VA_SEXOWZTHMWWCSNO_600742.label|translate:vc.viewState.VA_SEXOWZTHMWWCSNO_600742.labelArgs}}</label> 
         <div class="cb-control"> 
          <select id="VA_SEXOWZTHMWWCSNO_600742" kendo-ext-combo-box="comboBox.VA_SEXOWZTHMWWCSNO_600742" k-index="0" k-auto-bind="true" name="Estudiante_sexo" k-ng-model="vc.model.Estudiante.sexo" data-value-primitive="true" ng-disabled="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.disabled || vc.viewState.VA_SEXOWZTHMWWCSNO_600742.disabledingroup" ng-show="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.visible" ng-readonly="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.readonly" ng-class="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.style" k-data-source="vc.catalogs.VA_SEXOWZTHMWWCSNO_600742" k-no-data-template="''" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SEXOWZTHMWWCSNO_600742.template" data-cobis-group="Group,G_ESTUDIATAK_161742,0" data-validation-code="{{vc.viewState.VA_SEXOWZTHMWWCSNO_600742.validationCode}}"></select> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONIGPGTXU_480742.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONIGPGTXU_480742" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONIGPGTXU_480742','VA_VABUTTONIGPGTXU_480742',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONIGPGTXU_480742.disabled || vc.viewState.VA_VABUTTONIGPGTXU_480742.disabledingroup" ng-show="vc.viewState.VA_VABUTTONIGPGTXU_480742.visible" ng-class="vc.viewState.VA_VABUTTONIGPGTXU_480742.style"> {{vc.viewState.VA_VABUTTONIGPGTXU_480742.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_ESTUDIANAK_742--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_G2BMMWMNTXXTX_710_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ESTUDIANCK_488710')" ng-disabled="vc.viewState.T_G2BMMWMNTXXTX_710_ACCEPT.disabled || vc.viewState.T_G2BMMWMNTXXTX_710_ACCEPT.disabledingroup" ng-show="vc.viewState.T_G2BMMWMNTXXTX_710_ACCEPT.visible" ng-class="vc.viewState.T_G2BMMWMNTXXTX_710_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_G2BMMWMNTXXTX_710_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_G2BMMWMNTXXTX_710_CANCEL.disabled || vc.viewState.T_G2BMMWMNTXXTX_710_CANCEL.disabledingroup" ng-show="vc.viewState.T_G2BMMWMNTXXTX_710_CANCEL.visible" ng-class="vc.viewState.T_G2BMMWMNTXXTX_710_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>