<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ESTUDIANTT_110959" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ESTUDIANTT_110959.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_ESTUDIANST_532--> 
  <div id="VC_ESTUDIANTT_110959" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_ESTUDIATCE_817532" ng-show="vc.viewState.G_ESTUDIATCE_817532.visible" ng-class="vc.viewState.G_ESTUDIATCE_817532.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ESTUDIATCE_817532" k-options="validatorOptions" id="G_ESTUDIATCE_817532_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_NOMBREGSDIPYPYB_203532.visible"> 
        <div class="form-group" id="VA_NOMBREGSDIPYPYB_203532_DIV"> 
         <label for="VA_NOMBREGSDIPYPYB_203532" title="{{vc.viewState.VA_NOMBREGSDIPYPYB_203532.label|translate:vc.viewState.VA_NOMBREGSDIPYPYB_203532.labelArgs}}" ng-show="vc.viewState.VA_NOMBREGSDIPYPYB_203532.visible" class="control-label">{{vc.viewState.VA_NOMBREGSDIPYPYB_203532.label|translate:vc.viewState.VA_NOMBREGSDIPYPYB_203532.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NOMBREGSDIPYPYB_203532" name="Estudiante_nombre" type="text" class="form-control" ng-model="vc.model.Estudiante.nombre" ng-disabled="vc.viewState.VA_NOMBREGSDIPYPYB_203532.disabled || vc.viewState.VA_NOMBREGSDIPYPYB_203532.disabledingroup" ng-show="vc.viewState.VA_NOMBREGSDIPYPYB_203532.visible" ng-readonly="vc.viewState.VA_NOMBREGSDIPYPYB_203532.readonly" ng-class="vc.viewState.VA_NOMBREGSDIPYPYB_203532.style" data-cobis-group="Group,G_ESTUDIATCE_817532,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NOMBREGSDIPYPYB_203532.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_APELLIDODTDHMQL_667532.visible"> 
        <div class="form-group" id="VA_APELLIDODTDHMQL_667532_DIV"> 
         <label for="VA_APELLIDODTDHMQL_667532" title="{{vc.viewState.VA_APELLIDODTDHMQL_667532.label|translate:vc.viewState.VA_APELLIDODTDHMQL_667532.labelArgs}}" ng-show="vc.viewState.VA_APELLIDODTDHMQL_667532.visible" class="control-label">{{vc.viewState.VA_APELLIDODTDHMQL_667532.label|translate:vc.viewState.VA_APELLIDODTDHMQL_667532.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_APELLIDODTDHMQL_667532" name="Estudiante_apellido" type="text" class="form-control" ng-model="vc.model.Estudiante.apellido" ng-disabled="vc.viewState.VA_APELLIDODTDHMQL_667532.disabled || vc.viewState.VA_APELLIDODTDHMQL_667532.disabledingroup" ng-show="vc.viewState.VA_APELLIDODTDHMQL_667532.visible" ng-readonly="vc.viewState.VA_APELLIDODTDHMQL_667532.readonly" ng-class="vc.viewState.VA_APELLIDODTDHMQL_667532.style" data-cobis-group="Group,G_ESTUDIATCE_817532,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_APELLIDODTDHMQL_667532.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_EDADDSZGQKFAOBR_489532.visible"> 
        <div class="form-group" id="VA_EDADDSZGQKFAOBR_489532_DIV"> 
         <label for="VA_EDADDSZGQKFAOBR_489532" title="{{vc.viewState.VA_EDADDSZGQKFAOBR_489532.label|translate:vc.viewState.VA_EDADDSZGQKFAOBR_489532.labelArgs}}" ng-show="vc.viewState.VA_EDADDSZGQKFAOBR_489532.visible" class="control-label">{{vc.viewState.VA_EDADDSZGQKFAOBR_489532.label|translate:vc.viewState.VA_EDADDSZGQKFAOBR_489532.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_EDADDSZGQKFAOBR_489532" name="Estudiante_edad" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_EDADDSZGQKFAOBR_489532.decimals" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_EDADDSZGQKFAOBR_489532.format" k-ng-model="vc.model.Estudiante.edad" ng-model="vc.tmpModel.Estudiante.edad" ng-disabled="vc.viewState.VA_EDADDSZGQKFAOBR_489532.disabled || vc.viewState.VA_EDADDSZGQKFAOBR_489532.disabledingroup" ng-show="vc.viewState.VA_EDADDSZGQKFAOBR_489532.visible" ng-readonly="vc.viewState.VA_EDADDSZGQKFAOBR_489532.readonly" ng-class="vc.viewState.VA_EDADDSZGQKFAOBR_489532.style" data-cobis-group="Group,G_ESTUDIATCE_817532,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_EDADDSZGQKFAOBR_489532.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.visible"> 
        <div class="form-group" id="VA_SEXOUKYHQBYBQDG_586532_DIV"> 
         <label for="VA_SEXOUKYHQBYBQDG_586532" title="{{vc.viewState.VA_SEXOUKYHQBYBQDG_586532.label|translate:vc.viewState.VA_SEXOUKYHQBYBQDG_586532.labelArgs}}" ng-show="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.visible" class="control-label">{{vc.viewState.VA_SEXOUKYHQBYBQDG_586532.label|translate:vc.viewState.VA_SEXOUKYHQBYBQDG_586532.labelArgs}}</label> 
         <div class="cb-control"> 
          <select id="VA_SEXOUKYHQBYBQDG_586532" kendo-ext-combo-box="comboBox.VA_SEXOUKYHQBYBQDG_586532" k-index="0" k-auto-bind="true" name="Estudiante_sexo" k-ng-model="vc.model.Estudiante.sexo" data-value-primitive="true" ng-disabled="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.disabled || vc.viewState.VA_SEXOUKYHQBYBQDG_586532.disabledingroup" ng-show="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.visible" ng-readonly="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.readonly" ng-class="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.style" k-data-source="vc.catalogs.VA_SEXOUKYHQBYBQDG_586532" k-no-data-template="''" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SEXOUKYHQBYBQDG_586532.template" data-cobis-group="Group,G_ESTUDIATCE_817532,0" data-validation-code="{{vc.viewState.VA_SEXOUKYHQBYBQDG_586532.validationCode}}"></select> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VABUTTONLXGMGQH_608532.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONLXGMGQH_608532" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONLXGMGQH_608532','VA_VABUTTONLXGMGQH_608532',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONLXGMGQH_608532.disabled || vc.viewState.VA_VABUTTONLXGMGQH_608532.disabledingroup" ng-show="vc.viewState.VA_VABUTTONLXGMGQH_608532.visible" ng-class="vc.viewState.VA_VABUTTONLXGMGQH_608532.style"> {{vc.viewState.VA_VABUTTONLXGMGQH_608532.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_ESTUDIANST_532--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_G2BMMFVGWIDTY_959_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ESTUDIANTT_110959')" ng-disabled="vc.viewState.T_G2BMMFVGWIDTY_959_ACCEPT.disabled || vc.viewState.T_G2BMMFVGWIDTY_959_ACCEPT.disabledingroup" ng-show="vc.viewState.T_G2BMMFVGWIDTY_959_ACCEPT.visible" ng-class="vc.viewState.T_G2BMMFVGWIDTY_959_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_G2BMMFVGWIDTY_959_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_G2BMMFVGWIDTY_959_CANCEL.disabled || vc.viewState.T_G2BMMFVGWIDTY_959_CANCEL.disabledingroup" ng-show="vc.viewState.T_G2BMMFVGWIDTY_959_CANCEL.visible" ng-class="vc.viewState.T_G2BMMFVGWIDTY_959_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>